<div  class="container">
  <div class="row">
    <div class="col-lg-auto"></div>
    <a routerLink="/home">
    <figure class="figure">
      <img src="../../assets/img/17-IMG_0008.jpg" class="figure-img img-fluid rounded" height="300" width="300">
      <figcaption class="figure-caption">Afro Care</figcaption>
    </figure>
    </a>
    <div class="col-lg-auto"></div>
    <a routerLink="/home">
    <figure class="figure">
      <img src="../../assets/img/75-IMG_0070.jpg" class="figure-img img-fluid rounded"  height="300" width="300">
    </figure>
    </a>
  </div>
  
</div>
