<div  class="container-fluid">
  <div class="row">
    <div class="col-lg-auto"></div>
    <a routerLink="/home">
    <figure class="figure">
      <img src="../../assets/img/89-IMG_0084.jpg" class="figure-img img-fluid rounded" height="500" width="600">
      <figcaption class="figure-caption"></figcaption>
    </figure>
    </a>
    <div class="col-lg-auto"></div>
    <a routerLink="/home">
    <figure class="figure">
      <img src="../../assets/img/164-IMG_0177.jpg" class="figure-img img-fluid rounded"  height="500" width="300">
      <figcaption class="figure-caption"></figcaption>
    </figure>
    </a>
  </div>
  
</div>
